## **SUMMARY** OF THE DOCUMENT
- Python Basics
- Built in 
    - Data Structures
    - functions
    - Comprehensions
    - generator
    - itertool
    - error and exception
- file I/O
- operating system
- POOP

_______

# **PYHTON BASICS** - 2

## List of things covered in Python Basics **2**

1. Tab Completion feature check
2. Interospection 
    - ? - to know what the object is
    - *HERE *? -> for knowing what here can be
3. Basic Features of Python
    - Everything is an object
    - reference creation using =
    - function to create new object not refrences
    - Strongly typed nature of python 
        - Duck Typing - making type decision without using type check
        - NONE - type
    - Mutable vs immutable types
    - avoid side efects {unwanted changes from occuring} and favour immutability
4. Scalar types
    - default + single valued
    - numeric
        - int
        - float
    - strings
        - single line
        - multiline 
        - modify using function as immutable
        - to list - list() 
        - slice - getting a part using indexing
        - \n in between a string
        - r"" - raw - does not require escape
        - templating - "{0}{1}{2}".format("0", "1", "2") - fill the string with vars in args of format 
        - handle nums in format -> {0:.2f - two decimal } {1:s - string} {2:d - no decimal} 
        - f"" - formatted - " use {var name} and {v1/v2:.2f} - like operations"
        - "".encode("utf-8")
        - b''.decode("utf-8")
    - booleans
    - None
    - Date and Time
        - from datetime import datetime, date, time
        - dt.strftime("%Y--%m--%d %H::%M") - give own format
        - immutable
        - datetime.now - datetime(2024, 5, 23, 20, 12, 22) - for difference
5. Flow Control
    - if else and elif
    - for v in range(included, not included):
    - while |something is true|:


__________

**TAB COMPLETION TESTING**

TAB will complete 
- methods
- path and command by adding!
- varaible
- arguments

___________________________________________________________

**INTEROSPECTION**

- using ? before or after an object gives general info about the object
- this shows the docstring added to the object|

In [1]:
# example 
def add_number(a, b):
    """
    Adds two numbers together
    Returns
    ------------
    the_sum : type of arguments
    """
    return a + b

add_number?

Signature: add_number(a, b)
Docstring:
Adds two numbers together
Returns
------------
the_sum : type of arguments
File:      c:\users\mayan\appdata\local\temp\ipykernel_20032\3461508323.py
Type:      function

- *SOMETHING *? will give similar results + will tell you possible methods containing "SOMETHING" in it

In [2]:
# example
a = "some string"
a.*a*?

a.__add__
a.__class__
a.__contains__
a.__delattr__
a.__format__
a.__getattribute__
a.__getnewargs__
a.__getstate__
a.__hash__
a.__init_subclass__
a.__setattr__
a.__subclasshook__
a.capitalize
a.casefold
a.expandtabs
a.format
a.format_map
a.isalnum
a.isalpha
a.isascii
a.isdecimal
a.isprintable
a.isspace
a.maketrans
a.partition
a.replace
a.rpartition
a.startswith
a.swapcase
a.translate

-------------

**SOME BASIC FEATURES**

- Everything is an __OBJECT__ : with each obj having
  * associated type
  * internal data

- = sign creates reference to an object
  * if
    * new object is created of similar name to an outer object in a function
  * then
    * change in local object will have no effect on global one
- When list() function is used it creates a new object and does not refer

In [ ]:
a = [1, 2, 3, 4, 5, 6]
b = a
print(b)
a.append(7)
print(b)

'''
What about numerical and string values? - as they are immutable when a reassignment occurs 
the reference created points to the same memory location but the new object created points to new location
hence the original variable changes but the reference stays constant  
'''
# assignment creates a new object - for ummutabke objevts

a = "bfsd"
b = a
a = "S"
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
bfsd

- Python is strongly typed
  * to check for a particular type we can use - isinstance(obj, type/tuple containing several types)

In [4]:
a = "sal" + 5 # shows that python is strongly typed -- gives error

TypeError: can only concatenate str (not "int") to str

- Duck Typing
  * checking a certain type by using a method/ behaviour not by directly checking the type

In [ ]:
a = 5564
try:
    iter(a)
    print(True)
except TypeError:
    print(False)

False

- Binary Operators

In [ ]:
# add
36 + 25

61

In [ ]:
# subtract
42 - 342

-300

In [ ]:
# multiply
12 * 23

276

In [ ]:
# Divide
14 / 3

4.666666666666667

In [ ]:
# Floor-divide - dropping the decimal part
134 // 13

10

In [ ]:
# Raise to the power
12 ** 2

144

In [ ]:
# AND - bitwise AND for integer and & for boolean 
5 & 3 # here bothe the integers are converted into bits and then AND operation is preformed

1

In [ ]:
True & True

True

In [ ]:
# OR - bitwise OR for integer and | for boolean 
5 | 5 # here both the integers are converted into bits and then OR operation is preformed

5

In [ ]:
False | True

True

In [ ]:
# Exclusive OR - XOR - true only if a or b is true and false when both are false or both are true
False ^ False

False

In [ ]:
True ^ True

False

In [ ]:
False ^ True

True

In [ ]:
# == EQUALS
4 == 4

True

In [ ]:
# != NOT EQUALS
2 != 2

False

In [ ]:
# < / <= LESS THAN OR EQUALS
2 <= 4

True

In [ ]:
# > / >= GREATER THAN OR EQUALS
4 >= 4

True

In [ ]:
# REFRENCE CHECKING USING is & is not
# common usage to check if values are none of a variable or not
a = 32
a = b
c = 32

In [ ]:
a is b

True

In [ ]:
a is c

False

In [ ]:
a is not c

True

In [ ]:
a is not b

False

- NONE has only one instance so for all none values - is not will output True

- MUTABLE objects
  * lists
  * dictionaries
  * NumPy arrays
  * user defined types (classes)

- immutable
  * strings
  * tuples
  * numbers

- avoid side effects and favour immutability
  * side effects - mutating the object i.e.,

---------------------------

**SCALAR TYPES**

- default python built-in types
- these are SINGLE VALUE types

In [ ]:
# NUMERIC
# int - can have large values
a = 2143546576
a * 623435

1336361959608560

In [ ]:
# float - expressed in scientific notation
# have double precision value - i.e., two decimal place
b = 32354e-5
b * 324332435324354676

1.0493451612484171e+17

In [ ]:
#_______________________________________________#

In [ ]:
# STRINGS
a = 'Hello'
b = "Hello"
# multiline
c = """
Hello dear
"""
d = '''
Hello dear
'''

In [ ]:
# to modify a string - needs function or method
# immutable cannot be directly modified
a = "a string"
a.replace("string", "modified string")

'a modified string'

In [ ]:
# these are sequence of unicode chars
# so operations of sequences can be performed on them
list("asd")

['a', 's', 'd']

In [ ]:
# slicing
"sdasafrwfw3"[3:6]

'saf'

In [ ]:
# escape character - \ - specify special chars like unicode or newline
print("this above \nand this below")

this above
and this below

In [ ]:
# raw string - let string be as it is - r in front of the "the quotes"
r"this\doesn't\requires\any\escape"

"this\\doesn't\\requires\\any\\escape"

In [ ]:
# string templating / formatting
"{0} some {1} {2} string".format("this", "is", "a")

'this some is a string'

In [ ]:
# fromatting option
"{0:.2f} {1:s} a {2:d} digit number".format(34, "is", 2)
# here 
# .2f - two decimal digits
# s - string and d - no decimal/ only int

'34.00 is a 2 digit number'

In [ ]:
# f-strings
a = 12
b = 43.43
c = "my name" 
f"this is a formatted string using the variables and expression {c} {a/b:.2f}"

'this is a formatted string using the variables and expression my name 0.28'

In [ ]:
#_______________________________________________#

In [ ]:
# BYTES AND UNICODE
# Unicode has all priveleges - first class string type
# to handle ASCII and non-ASCII text

# earlier chars were stored as bytes noe they are stored as code refrence to chars/ as encoded chars

# conversion of unicode to utf-8 byte
"asasꜤ-n-ḫ".encode("utf-8")

b'asas\xea\x9c\xa4-n-\xe1\xb8\xab'

In [ ]:
b'asas\xea\x9c\xa4-n-\xe1\xb8\xab'.decode("utf-8")

'asasꜤ-n-ḫ'

In [ ]:
# when working with files whole data is not decoded to Unicode strings - thus needed this

In [ ]:
#____________________________________________#

In [ ]:
# BOOlEANS
True | False
True or False

True

In [ ]:
True & False
True and False

False

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
# TYPE CASTING - process of conversion from one data type to another
s = "342234.324"

In [2]:
# to float
f = float(s)
f

342234.324

In [3]:
# to integer
int(f)

342234

In [4]:
# to bool
bool(f) # non zero values gives True

True

In [ ]:
bool(0)

False

In [ ]:
#___________________________________________________#

In [ ]:
# NONE - NULL Value
# Common default Value
c = None
c is None

True

In [ ]:
#___________________________________________________#

In [ ]:
# DATE AND TIME
from datetime import datetime, date, time

In [ ]:
dt = datetime(2024, 5, 23, 20, 12, 22) # define date and time

In [ ]:
dt.day

23

In [ ]:
dt.minute

12

In [ ]:
dt.time()

datetime.time(20, 12, 22)

In [ ]:
dt.date()

datetime.date(2024, 5, 23)

In [ ]:
dt.strftime("%Y--%m--%d %H::%M") # to format time as strings

'2024--05--23 20::12'

In [ ]:
timedif = datetime.now() - dt # subtracting date time defined in dt from now
timedif

datetime.timedelta(days=219, seconds=84213, microseconds=310973)

In [ ]:
datetime.now() + timedif # adding timedelta to other time object to create a new time object -- shifted datetime

datetime.datetime(2025, 8, 6, 19, 0, 28, 212120)

In [ ]:
# to convert string to datetime object 
datetime.strptime("20241212", "%Y%m%d")

datetime.datetime(2024, 12, 12, 0, 0)

In [ ]:
# to group data some fields of a series of datetimes cand be changed
dt_hour = dt.replace(minute=0, second=0) # like making min and sec 0
dt_hour

datetime.datetime(2024, 5, 23, 20, 0)

In [ ]:
dt # datetime object is immutable

datetime.datetime(2024, 5, 23, 20, 12, 22)

In [ ]:
#____________________________________________________________#

In [ ]:
# FLOW CONTROL

In [ ]:
# if else and elif
x = 1 / 2

if x < 0:
    print("Too less")
elif x == 0:
    print("Almost there")
elif x < 1:
    print("Moderate")
elif 1 < x < 10:
    print("Now we are talking")
else:
    print("Got it")

Moderate

In [ ]:
# for loops
for value in range(1 , 11):
    print(value)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# skipping - for - loop for certain values
for value in range(1,21):
    if value % 2 == 0:
        continue
    else:
        print(value)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# breaking - for - loop for certain condition
for value in range(1,11):
    if value == 5 +  3: 
        break
    print(value)

1
2
3
4
5
6
7

In [ ]:
# Outer for loop won't be terminated with break

In [ ]:
#___________________________________________________________#

In [ ]:
# WHILE Loop
x = 15

while x >= 1: 
    print(x)
    x -= 1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#________________________________________________________#

In [ ]:
# PASS - to do nothing and let the control flow without obstruction
# pass is required because python uses white space to delimit blocks 
# otherwise an empty block would have suffice

x = 12

if x<10: 
    print("okayish")
elif x==12:
    pass
elif x<15:
    print("yeah")

In [ ]:
#______________________________________#

In [ ]:
# RANGE - A sequence of evenly spaced integers
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [ ]:
list(range( 1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
# common use case
x = "asdagewgv"

for i in range(len(x)):
    print(f" {x[i]} has index {i} ")

 a has index 0
 s has index 1
 d has index 2
 a has index 3
 g has index 4
 e has index 5
 w has index 6
 g has index 7
 v has index 8

In [ ]:
# Here range can be arbitrarily long
# Memory use is small

----------------

________________

# **BUILT-IN DATA STRUCTURES, FUNCTIONS** and **FILES** - 3

_____________________

### **DATA STRUCTURES & SEQUENCES**

--------------------

**TUPLES**

In [ ]:
# Fixed length immutable sequence of Python objects

In [ ]:
tup = (1, 2, 3) # tuple initiation
tup

(1, 2, 3)

In [ ]:
tup_1 = 1, 2, 5 # tuple initiation without parenthesis 
tup_1

(1, 2, 5)

In [ ]:
tuple([4, 0, 1]) # convert any iterator or sequence to tuple

(4, 0, 1)

In [ ]:
tuple("SDWEF")

('S', 'D', 'W', 'E', 'F')

In [ ]:
tup[1] # Accessing Elements using []

2

In [ ]:
# NESTED TUPLE
tup_prime = (2, 1, 3), (4, 5, 4)

tup_prime

((2, 1, 3), (4, 5, 4))

In [ ]:
tup_prime[0]

(2, 1, 3)

In [ ]:
# object inside a tuple cannot be modified 
# could be mutable or not
tup_new = ("sda", [1,2,3], False)
# only the value inside it can be modified

tup_new[1].append(4)

tup_new

('sda', [1, 2, 3, 4], False)

In [ ]:
# Concatenate tuples
tup_1 + tup_new + tup

(1, 2, 5, 'sda', [1, 2, 3, 4], False, 1, 2, 3)

In [ ]:
# Multiplyting by an integer concatenate that many copies of tuple - object themselves are not copied only their refrences
tup_1 * 4

(1, 2, 5, 1, 2, 5, 1, 2, 5, 1, 2, 5)

- Unpacking tuples

In [ ]:
# assigning to variables written as a tuple - same no. of variables as elements
a, b, c = (1, 4, 5)
print(f"a is {a}, b is {b}, c is {c}")

a is 1, b is 4, c is 5

In [ ]:
# assigning to nested tuple
a, b, (c, d) = (1, 2, (3, 4))
print(f"a is {a}, b is {b}, c is {c}, d is {d}")

a is 1, b is 2, c is 3, d is 4

In [ ]:
# used for swapping - without creating a temporary variable
a = 1
b = 2

In [ ]:
a,b = b,a # swap

In [ ]:
print(f"a is {a}, b is {b}")

a is 1, b is 2

In [ ]:
# common use of unpacking - iterating over sequence of tuples
seq = [(1, 2, 3), (5, 6, 7), (12, 34, 54)]
for a, b, c in seq:
    print(f"a={a}, b={b} and c={c}")

a=1, b=2 and c=3
a=5, b=6 and c=7
a=12, b=34 and c=54

In [ ]:
# to take only a few elements from the tuple and leaving the rest
a, b, *rest = (1, 2, 3, 4, 5, 6)

In [ ]:
a

1

In [ ]:
b

2

In [ ]:
rest # conventionally _ 'underscore' is used to store the discarded bit

[3, 4, 5, 6]

- TUPLE METHODS

In [ ]:
# since size and len cannot be modified it has very less methods
tup.count?

Signature: tup.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

__________________

**LIST**

In [ ]:
# mutable 
# defined using 
    # [] or 
    # list() function - to materialized generator or iterator expression
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# list and functions are semantically similar - can be used interchangeably

- Adding and Removing Elements

In [ ]:
lst = [1, 3, 4, 5]
lst.append(2) # to add element at the end of the list
lst

[1, 3, 4, 5, 2]

In [ ]:
lst.insert(1, "here") # to insert anywhere using 0-index
lst

[1, 'here', 3, 4, 5, 2]

In [ ]:
# insert is computationally expensive as compared to append - due to shifting of elements 
# for this use collections.deque

In [ ]:
# To remove usinf index
lst.pop(1)
lst

[1, 3, 4, 5, 2]

In [ ]:
# To remove by value
lst.remove(5)
lst

[1, 3, 4, 2]

In [ ]:
# append and remove can be used to make list set-like

In [ ]:
# Check value in list
2 in lst

True

In [ ]:
4 not in lst

False

In [ ]:
# since checking value in list involves linear scan - so it is slow
# for sets and dictionaries this is faster as their check is based on hash tables

- Concatenating and Combining list

In [ ]:
# Concatenating 
[1,2,3] + [12,32,54]

[1, 2, 3, 12, 32, 54]

In [ ]:
# appending multiple elements 
lst.extend([6, 3, 54, (21 , 34, 53)])
lst

[1, 3, 4, 2, 6, 76, 8, 6, 76, 8, 6, 3, 54, (21, 34, 53)]

In [ ]:
# here concatenation with addition is expensive operation - as new list is created and objects are copied to it
# extend should be prefered

- Sorting

In [ ]:
# to sort a list - with no new object
x = ["21", "rgedc", "qd32w", "eqwrog", "dsfpog"]

x.sort(key=len) # sort key is a function that produces a value to use for sorting the objects
x

['21', 'rgedc', 'qd32w', 'eqwrog', 'dsfpog']

- Slicing

In [ ]:
# Select sections of most sequence [start:stop]
x[3:5]

['eqwrog', 'dsfpog']

In [ ]:
# assigning to the sliced section
x[2:5] = ['1', '2', 'dsofm']
x

['21', 'rgedc', '1', '2', 'dsofm']

In [ ]:
# no. of elements in slice are start - stop
# on omitting start or stop the default will be taken as the beginning or end of the sequence
x[:3]

['21', 'rgedc', '1']

In [ ]:
# negative indices - slice relating to the end
x[-2:]

['2', 'dsofm']

In [ ]:
# using two colons :: and giving a number n - every nth element can be selected
x[::2]

['21', '1', 'dsofm']

In [ ]:
# used to reverse the list - by slecting every last element repeatedly
x[::-1]

['dsofm', '2', '1', 'rgedc', '21']

-------------------

**DICTIONARY**

In [ ]:
# dict also called HASHMAPs and ASSOCIATIVE ARRAYs
# stores KEY:VALUE pairs
# created using {}
a = {'key': 'value'}
a

{'key': 'value'}

In [ ]:
empty = {}

In [ ]:
# acccess, set or insert elements using same syntax as lists and tuples
# set
empty['new'] = "element"
empty['class'] = 123
empty

{'new': 'element', 'class': 123}

In [ ]:
# access an element using key
empty["new"]

'element'

In [ ]:
# check for key
"new" in empty

True

In [ ]:
# delete an element using keyword
# using del keyword
del empty["new"]
empty

{'class': 123}

In [ ]:
# usinf pop
empty.pop("class")

123

In [ ]:
empty

{}

In [ ]:
new = {1: "23", 2: "4023", 3: "qwet"}
newer = {'fd': False, 'fda': True}

In [ ]:
# Keys and Values methods are used to iterate over values and keys 
new.keys()

dict_keys([1, 2, 3])

In [ ]:
new.values()

dict_values(['23', '4023', 'qwet'])

In [ ]:
# for both keys and values 
new.items()

dict_items([(1, '23'), (2, '4023'), (3, 'qwet')])

In [ ]:
# merging two dicts
new.update(newer)
new

{1: '23', 2: '4023', 3: 'qwet', 'fd': False, 'fda': True}

In [ ]:
# update will change the old data to new data for same key

- Creating dictionaries from sequences

In [ ]:
# for 2 sequences
a = ['a', 'b', 'c', 'd']
b = [2, 3, 4, 5]

In [ ]:
mapping = {}
for key, value in zip(a,b):
    mapping[key]=value

In [ ]:
mapping

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [ ]:
# dictionary is a collection of 2 tuples
# dict function accepts list of 2 tuples to make dict
dict(zip(range(5), reversed(range(5))))

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

- Default values

In [ ]:
# for methods like GET and POP - a default value can be specified to return if key not found
new.get?

Signature: new.get(key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [ ]:
# get will give NONE by default
# pop will raise an EXCEPTION

In [ ]:
# SETDEFAULT method can be used to insert key with some default value if key not already present
new.setdefault?

Signature: new.setdefault(key, default=None, /)
Docstring:
Insert key with a value of default if key is not in the dictionary.

Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [ ]:
words = ['apple', 'ball', 'amazed', 'santa', 'alpha', 'beta', 'psi']

f = {}

for word in words:
    f.setdefault(word[0], []).append(word)

f

{'a': ['apple', 'amazed', 'alpha'],
 'b': ['ball', 'beta'],
 's': ['santa'],
 'p': ['psi']}

In [ ]:
#collections has defaultdict class to create dict with default values according to a function
from collections import defaultdict

In [ ]:
x = defaultdict(list)

for word in words:
    x[word[0]].append(word)

x

defaultdict(list,
            {'a': ['apple', 'amazed', 'alpha'],
             'b': ['ball', 'beta'],
             's': ['santa'],
             'p': ['psi']})

- Valid dictionary key types

In [ ]:
# key have to be immutabble - scalar (str, int, float)  or tuples (inside all objects need to be immutable too)
# they should be hashable
hash('string')

7675659977263172825

In [ ]:
# to use list as a key convert it into a tuple
tuple([1, 3, 4])

(1, 3, 4)

------------------------

**SET**

In [ ]:
# Unordered collection of unique elements 
# create using
    # set literal {}
    # set function
a = {2, 3, 4}
a

{2, 3, 4}

In [ ]:
b = set([2,4,5,6,4,7,8])
b

{2, 4, 5, 6, 7, 8}

In [ ]:
# Supports mathematical set operations

In [ ]:
# Union
a | b

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Intersection
a & b

{2, 4}

In [ ]:
a.intersection(b)

{2, 4}

In [ ]:
# add element x to set a 
a.add(9)
a

{2, 3, 4, 9}

In [ ]:
# reset set to empty state
a.clear()
a

set()

In [ ]:
a = {2, 3, 4, 9}
# remove element from set using element
a.remove(4)
a

{2, 3, 9}

In [ ]:
a = {2, 3, 4, 9}
# remove element using index
a.pop()

9

In [ ]:
# to set the elements of a to be the union of elements in a and b
a.update(b) # also |=
a

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
# set contents of a to be the intersection of a and b
a.intersection_update(b) # also &=
a

{2, 4, 5, 6, 7, 8}

In [ ]:
# elements in a not in b
a.difference(b) # also a-b

set()

In [ ]:
# set contents of a to be elements in a that are not in b
a.difference_update(b) # -=
a

{3, 9}

In [ ]:
a = {2, 3, 4, 9}

In [ ]:
# all elements in either a or b but not both
a.symmetric_difference(b) # also a ^ b

{3, 5, 6, 7, 8, 9}

In [ ]:
# set content of a to elements in a or b but not both
a.symmetric_difference_update(b) # also a ^= b
a

{2, 3, 4, 9}

In [ ]:
x = {1,2,3,4,5}
y = {1,2,3}
# subset 
x <= y # also .issubset(b)

False

In [ ]:
# superset
x >= y # also .issuperset(b)

True

In [ ]:
# dijoint 
a.isdisjoint(b)

False

In [ ]:
# input to methods like union and intersection will be converted by Python to set
# both the inputs to binary operator should be sets 
# all logical set operator have in-place counterparts - for ease in assignment 
# set elements must be hashable
# set are equals if and only if their contents are equal

____________

**BUILT-IN SEQUENCE FUNCTIONS**

- ENUMERATE

In [ ]:
# returns a sequence of (index, value) tuple for each element of a given list
# used when the index and value of a itereble is required
collection = ['a', 'b', 'c', 'd', 'e', 'f']

list(enumerate(collection))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

- SORTED

In [ ]:
# returns a new sorted list from the elments of the given sequence
s = "string"
sorted(s)

['g', 'i', 'n', 'r', 's', 't']

- ZIP

In [ ]:
# returns pairs containing the elements of any kind of sequences
list(zip(s, collection))

[('s', 'a'), ('t', 'b'), ('r', 'c'), ('i', 'd'), ('n', 'e'), ('g', 'f')]

In [ ]:
# can take arbitrary number of sequences
# no. of elements produced is determined by the shortest sequence

In [ ]:
# common use  - iterating over multiple sequences
for index, (a,b) in enumerate(zip(s, collection)):
    print(f"At {index} : we have {a} and {b}")

At 0 : we have s and a
At 1 : we have t and b
At 2 : we have r and c
At 3 : we have i and d
At 4 : we have n and e
At 5 : we have g and f

- REVERSED

In [ ]:
# iterates over the elements of sequence in reverse order
list(reversed(range(1,11)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# reversed is a generator - won't create a sequence until materialized

--------------------

**COMPREHENSIONS**

In [ ]:
# list
# [EXPRESSION for VALUE in COLLECTION if FILTER CONDITION]
# FILTER CONDITION can be omitted
[x**2 for x in range(1, 51) if x%5 == 0 & x%2 == 0]

[25, 100, 225, 400, 625, 900, 1225, 1600, 2025, 2500]

In [ ]:
# Dict
# {KEY-EXPRESSION : VALUE-EXPRESSION for VALUEK, VALUEV in COLLECTION if CONDITION}
{ x:y for x, y in zip(range(11,21), range(1,10)) if x % 2 == 0}

{12: 2, 14: 4, 16: 6, 18: 8}

In [ ]:
# Set
# {EXPRESSION for VALUE in COLLECTION if FILTER CONDITION}
{i**3 for i in range(1,16) if i % 4 == 0}

{64, 512, 1728}

In [ ]:
# map function to take a function and a sequence and return a sequence of output of the funcn for each element of given seq
def anything(a):
    return a**3

list(map(anything, range(5)))
# map can be used as an alternative to list comprehension without any filters

[0, 1, 8, 27, 64]

In [ ]:
tuple(map(anything, range(5)))

(0, 1, 8, 27, 64)

In [ ]:
dict(enumerate(map(anything, range(5))))

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

- NESTED LIST COMPREHENSIONS

In [ ]:
# for nested lists - list of lists
sup_list = [["John", "Emily", "Raaya", "Karthika"], ["Shyaam", "Raadha", "Jeevan", "Bill"]]

In [ ]:
# to get a single list - with condition
big_list = [x for lst in sup_list for x in lst if x.count("a") >= 2]
big_list

['Raaya', 'Karthika', 'Shyaam', 'Raadha']

In [ ]:
# for parts are arranged in the order of nesting UP to DOWN

In [ ]:
# flattening a list of tuples
lst_tuples = [(1,2,3), (4,5,6), (7,8,9)]

flattened = [x for tup in lst_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# distinguished syntax of list comprehension inside a list comprehension
[[x for x in tup ] for tup in lst_tuples ]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

---------------------

**FUNCTIONS**

In [ ]:
# Method of code organization and reuse
# Block of code with optional return keyword

# Can have multiple return statement
# If no return function the NONE is returned

In [ ]:
def my_func(x, y):
    return x+y

In [ ]:
print(my_func(1,2))

3

In [ ]:
# types of arguments
    # Positional
    # Keywords - used for default values and optional arguments - they must follow postional argument
def chec(x, y, z=0.9):
    if z > 1.5:
        return x + y
    else:
        return x * y

In [ ]:
chec(1, 2)

2

In [ ]:
chec(3,5)

15

In [ ]:
chec(7,2,2)

9

- NAMESPACE, SCOPE & LOCAL FUNCTIONS

In [ ]:
# Functions can access variable created inside or outside in higher scopes or global scopes
# variable scope ~ namespace
# varaibles inside a function has local namespace 
    # local namespace is created when function is called 
    # populated by functions args && destroyed when function is finished

In [ ]:
# Variable defined inside a function can be made global using GLOBAL or NONLOCAL keywords
    # Global to make a variable global -- used to store state - should opt for OOP instead 
    # nonlocal to make it accessible by higher-level scope that is not global

- return MULTIPLE VALUES

In [ ]:
# returning a tuple
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

print(f"a is {a}, b is {b} and c is {c}")

a is 5, b is 6 and c is 7

In [ ]:
# returning a dictionary
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c':c}

print(f())

{'a': 5, 'b': 6, 'c': 7}

In [ ]:
# functions are objects and can be passed into other functions

- LAMBDA FUNCTIONS (ANONYMOUS)

In [ ]:
# Writing functions consisting of a single statement 
# defined with lambda keyword - lambda as word has no meaning 
# convinient when data transformation fuctions will take other functions as arguments
def fucn(x):
    return x(5)

fucn(lambda y: y**2)

25

In [ ]:
a = lambda x : x**5
a(5)

3125

- GENERATORS

        - iterator

In [ ]:
# iterator is an onject that yeild object to Python interpretor when used in a context like a for loop
# iterators are made using the iterator protocol

        - generator

In [ ]:
# Generator 
# to construct new iterable objects 
# it gives multiple values in a sequence by pausing and resuming each time called
# generator functions have yeild keyword instead of return

def gen(x):
    for i in range(1, x+1): # loop is used and inside it we have yield
        yield i**2

# calling generator function does not yeild results
gen(5)

# they must be materialized or used for requesting objects as iterable

In [ ]:
list(gen(5))

[1, 4, 9, 16, 25]

In [ ]:
# they take less memory as - - give one element at a time instead of all at once

        - generator expression

In [ ]:
# analogue to comprehensions
# enclose list comprehension into a ()

new_gen = (x**2 for x in range(1,101))

In [ ]:
new_gen

In [ ]:
list(new_gen)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

        - itertool module

In [ ]:
# module has a collection of generators for common data algorithms
import itertools

In [ ]:
# groupby - takes any sequence and a function and group consecutive elements according to the return value of the function
names = ["Alan", "Aman", "Supriya", "Surya", "Sanjay", "Aanand", "Kumar", "Faltu", "Fahid"]

for a,y in itertools.groupby(names, lambda x: x[0]):
    print(a, list(y))

A ['Alan', 'Aman']
S ['Supriya', 'Surya', 'Sanjay']
A ['Aanand']
K ['Kumar']
F ['Faltu', 'Fahid']

In [ ]:
[ (a, list(b)) for a, b in itertools.groupby(names, lambda x: x[0])]

[('A', ['Alan', 'Aman']),
 ('S', ['Supriya', 'Surya', 'Sanjay']),
 ('A', ['Aanand']),
 ('K', ['Kumar']),
 ('F', ['Faltu', 'Fahid'])]

        - useful itertool functions

In [ ]:
# chain(*iterambles) - gives a sequence by chaining iterables together
list(itertools.chain(names, collection))

['Alan',
 'Aman',
 'Supriya',
 'Surya',
 'Sanjay',
 'Aanand',
 'Kumar',
 'Faltu',
 'Fahid',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f']

In [ ]:
# combinations(iterable, k) - gives a sequence of all possible k - tuples of elements in the iterable - no order and no replacement
list(itertools.combinations(collection, 2))
# for relpacement use - combinations_with_replacement

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'f')]

In [ ]:
# permutations(iterable, k) - gives a sequence of all possible k - tuples of elements in the iterable - with order and no replacement
list(itertools.permutations(collection, 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c'),
 ('d', 'e'),
 ('d', 'f'),
 ('e', 'a'),
 ('e', 'b'),
 ('e', 'c'),
 ('e', 'd'),
 ('e', 'f'),
 ('f', 'a'),
 ('f', 'b'),
 ('f', 'c'),
 ('f', 'd'),
 ('f', 'e')]

In [ ]:
# product(*iterables, repeat=1) - generates cartesian product of input iterables as tuples, similar to nested for loop

list(itertools.product(names, collection, repeat=1))

[('Alan', 'a'),
 ('Alan', 'b'),
 ('Alan', 'c'),
 ('Alan', 'd'),
 ('Alan', 'e'),
 ('Alan', 'f'),
 ('Aman', 'a'),
 ('Aman', 'b'),
 ('Aman', 'c'),
 ('Aman', 'd'),
 ('Aman', 'e'),
 ('Aman', 'f'),
 ('Supriya', 'a'),
 ('Supriya', 'b'),
 ('Supriya', 'c'),
 ('Supriya', 'd'),
 ('Supriya', 'e'),
 ('Supriya', 'f'),
 ('Surya', 'a'),
 ('Surya', 'b'),
 ('Surya', 'c'),
 ('Surya', 'd'),
 ('Surya', 'e'),
 ('Surya', 'f'),
 ('Sanjay', 'a'),
 ('Sanjay', 'b'),
 ('Sanjay', 'c'),
 ('Sanjay', 'd'),
 ('Sanjay', 'e'),
 ('Sanjay', 'f'),
 ('Aanand', 'a'),
 ('Aanand', 'b'),
 ('Aanand', 'c'),
 ('Aanand', 'd'),
 ('Aanand', 'e'),
 ('Aanand', 'f'),
 ('Kumar', 'a'),
 ('Kumar', 'b'),
 ('Kumar', 'c'),
 ('Kumar', 'd'),
 ('Kumar', 'e'),
 ('Kumar', 'f'),
 ('Faltu', 'a'),
 ('Faltu', 'b'),
 ('Faltu', 'c'),
 ('Faltu', 'd'),
 ('Faltu', 'e'),
 ('Faltu', 'f'),
 ('Fahid', 'a'),
 ('Fahid', 'b'),
 ('Fahid', 'c'),
 ('Fahid', 'd'),
 ('Fahid', 'e'),
 ('Fahid', 'f')]

-----------

- ERROR AND EXCEPTION HANDLING

In [ ]:
# handling error gracefully using try/except block

try:
    "1" + 1 # Errorneous code
    print("yes")
except:
    print("no")

no

In [ ]:
try:
    "1" + 1 # Errorneous code
    print("yes")
except (ValueError, TypeError): # here different type of errors can be caught
    print("no")

no

In [ ]:

try:
    # "1" + 1 # Errorneous code
    print("yes")
except:
    print("no")
else:
    print("When try succeds")
finally:
    print("Runs anyway")

yes
When try succeds
Runs anyway

-------------

- FILES and OPERATING SYSTEM

In [ ]:
# for read and write - inbuilt open() function
open?

Signature:
open(
    file,
    mode='r',
    buffering=-1,
    encoding=None,
    errors=None,
    newline=None,
    closefd=True,
    opener=None,
)
Docstring:
Open file and return a stream.  Raise OSError upon failure.

file is either a text or byte string giving the name (and the path
if the file isn't in the current working directory) of the file to
be opened or an integer file descriptor of the file to be
wrapped. (If a file descriptor is given, it is closed when the
returned I/O object is closed, unless closefd is set to False.)

mode is an optional string that specifies the mode in which the file
is opened. It defaults to 'r' which means open for reading in text
mode.  Other common values are 'w' for writing (truncating the file if
it already exists), 'x' for creating and writing to a new file, and
'a' for appending (which on some Unix systems, means that all writes
append to the end of the file regardless of the current seek position).
In text mode, if encoding is not specified the encoding used is platform
dependent: locale.getencoding() is called to get the current locale encoding.
(For reading and writing raw bytes use binary mode and leave encoding
unspecified.) The available modes are:

========= ===============================================================
Character Meaning
--------- ---------------------------------------------------------------
'r'       open for reading (default)
'w'       open for writing, truncating the file first
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
========= ===============================================================

The default mode is 'rt' (open for reading text). For binary random
access, the mode 'w+b' opens and truncates the file to 0 bytes, while
'r+b' opens the file without truncation. The 'x' mode implies 'w' and
raises an `FileExistsError` if the file already exists.

Python distinguishes between files opened in binary and text modes,
even when the underlying operating system doesn't. Files opened in
binary mode (appending 'b' to the mode argument) return contents as
bytes objects without any decoding. In text mode (the default, or when
't' is appended to the mode argument), the contents of the file are
returned as strings, the bytes having been first decoded using a
platform-dependent encoding or using the specified encoding if given.

buffering is an optional integer used to set the buffering policy.
Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
line buffering (only usable in text mode), and an integer > 1 to indicate
the size of a fixed-size chunk buffer.  When no buffering argument is
given, the default buffering policy works as follows:

* Binary files are buffered in fixed-size chunks; the size of the buffer
  is chosen using a heuristic trying to determine the underlying device's
  "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
  On many systems, the buffer will typically be 4096 or 8192 bytes long.

* "Interactive" text files (files for which isatty() returns True)
  use line buffering.  Other text files use the policy described above
  for binary files.

encoding is the name of the encoding used to decode or encode the
file. This should only be used in text mode. The default encoding is
platform dependent, but any encoding supported by Python can be
passed.  See the codecs module for the list of supported encodings.

errors is an optional string that specifies how encoding errors are to
be handled---this argument should not be used in binary mode. Pass
'strict' to raise a ValueError exception if there is an encoding error
(the default of None has the same effect), or pass 'ignore' to ignore
errors. (Note that ignoring encoding errors can lead to data loss.)
See the documentation for codecs.register or run 'help(codecs.Codec)'
for a list of the permitted encoding error strings.

newline controls how universal newlines works (it only applies to text
mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
follows:

* On input, if newline is None, universal newlines mode is
  enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
  these are translated into '\n' before being returned to the
  caller. If it is '', universal newline mode is enabled, but line
  endings are returned to the caller untranslated. If it has any of
  the other legal values, input lines are only terminated by the given
  string, and the line ending is returned to the caller untranslated.

* On output, if newline is None, any '\n' characters written are
  translated to the system default line separator, os.linesep. If
  newline is '' or '\n', no translation takes place. If newline is any
  of the other legal values, any '\n' characters written are translated
  to the given string.

If closefd is False, the underlying file descriptor will be kept open
when the file is closed. This does not work when a file name is given
and must be True in that case.

A custom opener can be used by passing a callable as *opener*. The
underlying file descriptor for the file object is then obtained by
calling *opener* with (*file*, *flags*). *opener* must return an open
file descriptor (passing os.open as *opener* results in functionality
similar to passing None).

open() returns a file object whose type depends on the mode, and
through which the standard file operations such as reading and writing
are performed. When open() is used to open a file in a text mode ('w',
'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
a file in a binary mode, the returned class varies: in read binary
mode, it returns a BufferedReader; in write binary and append binary
modes, it returns a BufferedWriter, and in read/write mode, it returns
a BufferedRandom.

It is also possible to use a string or bytearray as a file for both
reading and writing. For strings StringIO can be used like a file
opened in a text mode, and for bytes a BytesIO can be used like a file
opened in a binary mode.
Type:      function

In [ ]:
f = open("Hi.txt", encoding="utf-8")
for line in list(f):
    print(line.rstrip())

Hi
this
is
a
test
file

In [ ]:
f.close()

In [ ]:
# for automatic closure
with open("Hi.txt", encoding='utf-8') as f:
    lines = [x.rstrip() for x in f]

In [ ]:
lines

['Hi', 'this', 'is', 'a', 'test', 'file']

In [ ]:
# w - mode creates a new file
# x - mode creates a file but fails if the file path exists
# a - append
# r+ - read and write
# b - add to modes for binary file like rb and wb
# t - text mode - default - auto decodes bytes and unicode

        - Read a file

In [ ]:
# methods for readable files
# read - returns certain num of chars
f1 = open('Hi.txt')

f1.read(5)

'Hi\nth'

In [ ]:
# tell - gives you current position of a file after reading some chars
f1.tell()

6

In [ ]:
# seek - to change the position
f1.seek(3)

3

In [ ]:
f1.tell()

3

In [ ]:
f1.close()

In [ ]:
# reading the file in binary format
f1 = open('Hi.txt', mode='rb')
f1.read()

b'Hi\r\nthis\r\nis\r\na\r\ntest\r\nfile'

In [ ]:
f1.close()

        - Write a file

In [ ]:
# methods used
# write
# writelines

In [ ]:
with open("new.txt", mode="w") as f:
    f.writelines(list(str(x) + '\n' for x in range(1,101) if x%10 == 0))

In [ ]:
with open("new.txt", mode="r") as f:
    lines = f.readlines()

lines

['10\n',
 '20\n',
 '30\n',
 '40\n',
 '50\n',
 '60\n',
 '70\n',
 '80\n',
 '90\n',
 '100\n']

        - common methods

In [ ]:
# readable() - check if the file supports read operations

In [ ]:
# readlines([size]) - list of lines in the file with optional sixe arg

In [ ]:
# writable() - True is file supports write operations

In [ ]:
# close() - close a file object

In [ ]:
# flush() - flush the internal I/O Buffer to disk

In [ ]:
# seek(pos) - Move to indicate file postition to given int

In [ ]:
# seekable() - True if the object supports seeking and thus random access ( files like objects may not)

In [ ]:
# tell() - Return current file position an int

In [ ]:
# closed - True if closed
f1.closed

True

In [ ]:
# encoding - To check encoding used to interpret bytes in the file
f.encoding

        - bytes and unicode with files

In [ ]:
# default behaviour for python files is text mode - to work with Python stringd - Unicode
# binary mode can be turned on by appending b to the file mode
# In binary mode the read method requests exact number of bytes - 
    # whereas UTF-8 is variable length unicode encoding
    # seek method on any encoding other than binary can result in error 
    # if the position falls in middle of bytes difining unicode char
# any fully formed string can be decoded using the decode()
# text mode combined with encoding option of open - gives better conversion way to unicode encoding 
# FOR working with non-ASCII text data Python's Unicode is valuable

-----------------------

# **P.O.O.P**

- `Object` - container of data and function
- `Class` - blueprint to make an object