# DATA **LOADING, STORAGE, and FILE FORMATS**

**DATA LOADING** - reading the  data
   - **parsing** - loading and interpreting it as a table and different data types
   - are other libraries to read and write tools
   - PANDAS can do it as well

Categories of data to read:
   - reading text files and on-disk formats
   - loading data from datasets
   - from network sources like APIs

------

## Reading and Writing in **TEXT** format

Pandas Functions for reading tabular data as a DataFrame object:

In [ ]:
# read_csv

In [17]:
# read_fwf - fixed-width column format (no delimiters)

In [2]:
# read_clipboard

In [3]:
# read_excel - Excel XLS or XLSX file

In [4]:
# read_hdf - HDF5 files written in pandas

In [5]:
# read_html

In [6]:
# read_json

In [7]:
# read_feather -  Feather Binary format

In [8]:
# read_orc - ORC binary format

In [9]:
# read_paraquet - Parquet Binary Format

In [10]:
# read_pickle - Python pickle format

In [11]:
# read_sas - SAS data stored in one of the SAS system's custom storage formats

In [12]:
# read_spss - SPSS created data file

In [13]:
# read_sql - SQL query - using SQLAlchemy

In [14]:
# read_sql_table -SQL query with select everything - using SQLAlchemy

In [15]:
# read_stata - stata file fromat

In [16]:
# read_xml - from xml table

- Optional arguments for these :

In [18]:
# Indexing - to select multiple columns ; get column names from - (file, arguments given or no names)

In [23]:
# Type inference and data conversion - user defined value conversions and custom list of missing value markers

In [24]:
# Data and time parsing - capability to combine date and time information in different columns into single column

In [21]:
# Iterating - iterating over chunks of very large file

In [26]:
# Unclean data issues skipping rows or the footer, comments or other minor things 
# like numeric data with thousands separated by commas

- read_csv has around 50s of parameter as real world data loading can be messy
   - if stuck look into examples

- type inference - to interpret the column data type from the input file

- Dates and custom types require effort

In [29]:
# SYSTEM COMMAND RUN
! type Hi.txt

Hi
this
is
a
test
file

In [33]:
import pandas as pd

------

In [56]:
df = pd.read_csv("data/T1 data.csv", index_col="STATE_NAME")

In [57]:
# csv file with headers
df

,DISTRICT_NAME,PMGSY_SCHEME,NO_OF_ROAD_WORK_SANCTIONED,NO_OF_BRIDGES_SANCTIONED,NO_OF_ROAD_WORKS_COMPLETED,NO_OF_BRIDGES_COMPLETED,NO_OF_ROAD_WORKS_BALANCE,NO_OF_BRIDGES_BALANCE,LENGTH_OF_ROAD_WORK_SANCTIONED_KM,COST_OF_WORKS_SANCTIONED_LAKHS,LENGTH_OF_ROAD_WORK_COMPLETED_KM,EXPENDITURE_OCCURED_LAKHS,LENGTH_OF_ROAD_WORK_BALANCE_KM
STATE_NAME,,,,,,,,,,,,,
Andaman And Nicobar,South Andaman,PMGSY-I,32,0,31,0,1,0,40.146,18.53750,39.287,11.6894,0.541
Andhra Pradesh,Anakapalli,PMGSY-II,5,0,5,0,0,0,34.620,21.30900,31.291,16.1277,0.000
Andhra Pradesh,Anantapur,PMGSY-III,16,5,14,0,2,5,145.623,109.83990,122.207,66.6426,18.700
Andhra Pradesh,Chittoor,PMGSY-I,148,3,148,3,0,0,482.261,101.85120,471.991,100.7436,0.000
Andhra Pradesh,Dr BR Ambedkar Konaseema,PMGSY-I,209,8,209,8,0,0,443.650,126.98220,427.215,141.9707,0.000
Andhra Pradesh,Dr BR Ambedkar Konaseema,PMGSY-II,6,0,6,0,0,0,47.223,24.73600,45.354,20.9790,0.000
Andhra Pradesh,Dr BR Ambedkar Konaseema,PMGSY-III,11,1,9,1,2,0,76.433,48.80619,58.120,38.5881,16.590
Andhra Pradesh,Eluru,PM-JANMAN,5,0,0,0,5,0,21.998,13.55500,0.000,0.0000,21.998
Andhra Pradesh,Guntur,PMGSY-II,4,0,4,0,0,0,35.100,17.37940,34.839,13.8579,0.000
Andhra Pradesh,Kakinada,PMGSY-III,12,1,4,0,8,1,87.620,47.53970,24.850,10.6521,61.040
Andhra Pradesh,Kurnool,PMGSY-III,11,0,8,0,3,0,102.633,46.95050,79.163,31.5670,19.620
Andhra Pradesh,Nandyal,PMGSY-III,12,3,11,1,1,2,113.910,87.63180,101.894,73.3457,6.500
Andhra Pradesh,Ntr,PMGSY-III,6,2,3,0,3,2,47.028,28.84470,24.250,13.0383,21.578
Andhra Pradesh,Palnadu,PMGSY-II,7,1,7,1,0,0,80.460,44.80130,79.551,42.3108,0.000
Andhra Pradesh,Prakasam,PMGSY-III,15,4,12,0,3,4,141.414,105.29000,108.919,61.3385,29.220
Andhra Pradesh,Sri Sathya Sai,PMGSY-II,6,0,6,0,0,0,50.680,26.07580,49.658,21.8303,0.000
Andhra Pradesh,Srikakulam,PMGSY-I,211,7,211,7,0,0,561.360,123.03530,560.680,120.4759,0.000
Andhra Pradesh,Srikakulam,PMGSY-III,16,10,15,0,1,10,121.865,133.01448,113.667,65.9959,4.800
Arunachal Pradesh,Dibang Valley,PMGSY-I,16,0,13,0,3,0,201.680,203.99200,184.880,167.8733,16.800

In [52]:
# csv file without headers - first row will act as column header
df2 = pd.read_csv("data/T1 e1.csv")

In [53]:
df2

    1   2   3   4   5     HI
0   6   7   8   9   0  HELLO
1  11  12  13  14  15    HOW
2  16  17  18  19  20   FINE

In [50]:
# for default column names
df2 = pd.read_csv("data/T1 e1.csv", header=None)

In [51]:
df2

    0   1   2   3   4      5
0   1   2   3   4   5     HI
1   6   7   8   9   0  HELLO
2  11  12  13  14  15    HOW
3  16  17  18  19  20   FINE

In [48]:
# for specified column names
df2 = pd.read_csv("data/T1 e1.csv", names=["a","b","c","d","e","message"])

In [49]:
df2

    a   b   c   d   e message
0   1   2   3   4   5      HI
1   6   7   8   9   0   HELLO
2  11  12  13  14  15     HOW
3  16  17  18  19  20    FINE

- Defining index column

In [54]:
# make message column as index column
pd.read_csv("data/T1 e1.csv", names=["a","b","c","d","e","message"], index_col="message")

          a   b   c   d   e
message
HI        1   2   3   4   5
HELLO     6   7   8   9   0
HOW      11  12  13  14  15
FINE     16  17  18  19  20

- For Heirarchical Indexing

In [59]:
parsed = pd.read_csv("data/T1 heirarchy.csv", index_col=["key1", "key2"])

In [60]:
parsed # there is a heirarchy of values under which there are different data

           value1  value2
key1 key2
one  a          1       2
     b          1       3
     c          2       4
     d          7       9
two  a          4       3
     b          5       3
     c          2       4
     d          7       6

- file without fixed delimiter - whitespace or some pattern
   - use `sep` keyword to define the delimiter using regex eg: `"\s+"`

- for one few column name than the number of rows `.read_csv` interprets the first column should be the DataFrame's index

- To skip the nth rows of the file with `skiprows=[n-1, n, n+1]` keyword

- To handle missing values - not present or marked by sentinel placeholder NA NULL
   - use `na_values` with a list of strings to add to the default list of strings considered as missing
   - use default na list can be disabled using `keep_default_na=False`
   - na sentinels can be varying - {"message": ["foo", "NA"], "something": ["two"]}

- List of frequently used options in `.read_csv`

In [61]:
# path

In [62]:
# sep or delimiter

In [63]:
# header

In [64]:
# index_col

In [65]:
# names

In [66]:
# skiprows

In [67]:
# na_values

In [68]:
# comment

In [69]:
# parse_dates

In [70]:
# keep_dat_col

In [71]:
# converters

In [72]:
# dayfirst

In [73]:
# date_parser

In [74]:
# nrows

In [75]:
# iterator

In [76]:
# chunksize

In [ ]:
# skip_footer

In [79]:
# keep_date_col

In [101]:
# date_parser

In [80]:
# convertors

In [81]:
# parse_dates

In [82]:
# dayfirst

In [84]:
# nrows

In [85]:
# iterator

In [86]:
# chunksize

In [87]:
# skip_footer

In [88]:
# verbose

In [91]:
# encoding

In [93]:
# encoding

In [96]:
# squeeze

In [97]:
# thousands

In [99]:
# decimal

In [102]:
# engine - csv parsing and conversion engine can be ["c" (default)] "python" or "pyarrow"(faster for some files)

-------------

### Reading Text Files **in Pieces**

- Using Pandas display settings more compact:

   - `pd.options.display.max_rows = 10` - shows the whole data in 10 lines

- Avoid reading the whole file 

   - to read only n rows use - `nrows` keywords with number of rows

   - to read in multiple pieces - specify `chunksize` with number of rows
      - this outputs iterable object - `TextFileReader` with chunks for each output 
         - THIS IS ONE IME USE ITERABLE AND WILL NEEDED TO BE RELOADED TO PARSE AGAIN
         - has `get_chunk` method to enable reading of an arbitrary size

In [179]:
chunker = pd.read_csv('data/T1-large.csv', chunksize=100)
chunker

In [180]:
tot = pd.Series([], dtype='int64')

for piece in chunker:
    tot = tot.add(piece["STATE_NAME"].value_counts(), fill_value=0)

In [181]:
tot

STATE_NAME
Andaman And Nicobar      5.0
Andhra Pradesh          87.0
Arunachal Pradesh       71.0
Assam                   73.0
Bihar                  121.0
Chhattisgarh           107.0
Goa                      2.0
Gujarat                 99.0
Haryana                 62.0
Himachal Pradesh        36.0
Jammu And Kashmir       60.0
Jharkhand               98.0
Karnataka               95.0
Kerala                  42.0
Ladakh                   6.0
Madhya Pradesh         176.0
Maharashtra            104.0
Manipur                 27.0
Meghalaya               21.0
Mizoram                 21.0
Nagaland                37.0
Odisha                 101.0
Puducherry               2.0
Punjab                  62.0
Rajasthan              145.0
Sikkim                  18.0
Tamil Nadu             110.0
Telangana              103.0
Tripura                 30.0
Uttar Pradesh          227.0
Uttarakhand             39.0
West Bengal             65.0
dtype: float64

________________

### **Writing** data to TEXT Format

- use `to_csv` method of the data frame

   - `sys.stdout` can be used in place of file name to output to console rather than to a file
   - `sep` keyword can be used to define the delimiter 
   - missing values appears as empty strings in the output - define them using `na_rep` keyword
   - row and column labels are written in the output 
      - they can be disabled - `index=False` and `header=False`
   - columns can be in an oder of choice defined using `columns = ["a", "b", "c"]` with a list of column names in the desired sequence

------------

### Working with other Delimited Formats

- Manual Processing might be required to load the file
- `csv` module of python can be used for any file with a single-char delimiter
   - pass open file or file like object to csv.reader
      - iterating through reader gives lists of values with any quote characters removed
      - then these lists can be transformed as required
   
- CSV files has many different flavours
   - to define a new format with a different 
      - delimiter
      - sting quoting convention
      - line terminator 
   - subclass of `csv.Dialect` is used by using `dialect` keyword

In [184]:
# to define simple subclass of csv.Dialect
import csv

class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimietr = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

  - individual dialect parameters can be given to csv.reader

In [185]:
# delimiter
# lineterminator
# quotechar
# quoting
# skipinitialspace
# doublequote
# escapechar

- For files with complicated or fixed multicharacter delimiters
   - csv module won't work
   - manual cleanup and line splitting must be performed 
      - `split` method of string
      - `re.split` of regex module
   - these are *RARE*

- Write delimited value `csv.writer` is used
   - defined dialect can also be passed here
   - same options as `csv.reader`

--------------

### **JSON** Data

- all keys must be strings
- several python libraries for reading and writng - `json`
- form JSON to python - `json.loads(obj)`
- to JSON form python - `json.dumps(result)`

- To convert JSON to Dataframe
   - varies
   - pass list of dicitonaries to the DF constructor and select the subset of the data fields
      - each dict contributes to one row

- Using pandas.read_json
   - by default this assumes each object in the JSON array is a row

- Exporing data from pandas to JSON
   - use `to_json` method on Series and DataFrame

--------

### XML and HTML : **WEB SCRAPING**

- Many libraries for reading and writing data in HTML and XML formats
   
   - lxml - faster
      - `lxml.objectify` - parse file and get reference to the root node using `getroot` method
         - `root.INDICATOR` returns generator yeilding each `<INDICATOR>` XML element
         - using the generator a dictionary can be populated of tag names (like YTD_ACTUAL) to data values (excluding a few tags)
            - methods used `.tag, .pyval`
   - `pandas.read_xml` - with selection and filters to extract a particular table of interest

   - others handle malformed data better
      - `BeautifulSoup`
      - `html5lib`
   
   - `pandas.read_html` uses auto parse tables out of html files 
      - by default searches and parses all tabular data contained within `<table>` tags

-----------------

## **BINARY DATA** Formats

- store or serialize data in binary
   - Python's built in `pickle` module
   - `pandas.to_pickle`
      - generally readable only in Python - using `.read_pickle`
- pickle for short term usage only - unstable - due to change in version may get unsupported
- several other open source binary data formats are also supported
   - HDF5
   - ORC
   - Apache Paraquet - through pyarrow package - then pandas.read_paraquet will work

-----------

### Reading Microsoft Excel Files

- Using `pandas.ExcelFile` [faster for reading multiple sheets in a file] or pd.`read_excel` - 2003 and above format
   - interanally they use xlrd and openpyxl

- `object.sheet_names` - to access list of sheets
- `object.parse(sheet_name="Sheet1")`
- Excel table has index column - indicated with the `index_col`

- Writing a file
   - `writer = pd.ExcelWriter('path')`
   - `df.to_excel(writer, "Sheet")`
   - `writer.save()`
   - OR
   - `frame.to_excel("path")`

--------

### Using HDF5 Format

- for storing large quantity of scientific array
- originally available as C library - has interfaces in JAVA, JUILA, MATLAB, and PYTHON
- HDF - Heirarchical Data Format
   - can store multiple data sets and supports metadata
   - on the fly compression with variety of compression modes
- HDF5 for working with datasets that don't fit into memory
- not a database 
   - more suitable for write once read many
   - with simultaneous writes data can become corrupted 

- need `pytables`

- direct access using `h5py` or `PyTable` library
- HDFStore class works like dictionary and handles low-level details

- API to access the store
- two schemas to access - `"fixed"` (default) or `"table"` [slower but supports query]
   - `store.put('obj', frame, fromat="table")`
   - `store.select('obj', where=[" index >= 10 and index <= 15 "])`

- `put` is explicit version of the `store[ "obj" ] = frame` method of forming dataframe from HDF5 data 
   - but allows options like storage format

- `pandas.read_hdf` - to read data
- `to_hdf()` - to write data

- delete file
    - using `os` module
        - `os.remove("path")`

- for distributed storage - Paraquet is nore suitable

- using `PyTables` and `h5py` - accelerates working with large quantities of data locally as data analysis are I/O bound and not CPU-bound

------------

## Interacting with **Web-APIs**

- Interacting with APIs to get data feeds via JSON or some other format
- APIs from Python
   - `requests` package

In [186]:
import requests

In [187]:
resp = requests.get("https://fakestoreapi.com/products/1")

In [190]:
resp.raise_for_status() # call to check for Errors

In [189]:
resp

In [191]:
resp.json()

{'id': 1,
 'title': 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops',
 'price': 109.95,
 'description': 'Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday',
 'category': "men's clothing",
 'image': 'https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg',
 'rating': {'rate': 3.9, 'count': 120}}

In [194]:
data = pd.DataFrame([resp.json()], columns=["id", "title", "price", "category"])

In [195]:
data

,id,title,price,category
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,men's clothing

-------------------

## Intefacing with Databases

- to load results of SQL query
  - sqlite3
  - SQLAlchmey
  - panda.read_sql function from general SQLAlchemy connection

- most SQL drivers return tuples when selecting data from table
   - use it to create dataframe
   - add columns from cursor.description

--------------------------------------